// Feuille de style principale
// ================================

// Imports : base et utilitaires
@import "layout/base";
@import "layout/variables";

// Ressources
// @import "vendors/*";

// Utilitaires (snippets, mixins)
@import "utilities/*";

// Base du design (header, footer, dimensions du layout)
@import "layout/*";

// Éléments de l'interface utilisateur
@import "ui/*";

// Styles spécifiques aux pages 
@import "pages/*";

// Media Queries
// @import "queries/*";

// Styles originaux de du screen.css
// À ranger 
.meta {
  color: #aaa;
  margin: 0 0 10px 0;
}

.content {
  font: 400 16px/22px "open sans", sans-serif;
  border-left: 1px solid #DDD;
  padding-left: 40px;
  padding-top: 25px;
  min-height: 400px;
}

.aside {
  font-size: 75%;
  color: #666;
}

#home h2 {
  color: $main-color;
}

#logo {
  margin-bottom: 25px;
}

.footnotes {
  font-size: 14px;
  font-style: italic;
}

.icon-overlay {
  font-size: 16px !important;
  position: relative;
  bottom: 27px;
  left: 5px;
  color: white;
}

.caption {
  margin: 0 auto;
  text-align: center;
  font-size: smaller;
  padding-bottom: 10px
}
